@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.mainDiv {
  width: 99.55vw;
  height: 308vh;
  display: flex;
  background: rgb(37, 36, 36);
  background-size: cover;
  background-position: center;
}

body::-webkit-scrollbar {
  position: fixed;
  width: 0.5vw;
  background: #252424;
  scroll-behavior:smooth;
}
body::-webkit-scrollbar-thumb {
  position: fixed;
  border-radius: 2vw;
  background: #6e6b6b;
  scroll-behavior:smooth;
}
body::-webkit-scrollbar-track {
  position: fixed;
  scroll-behavior:smooth;
  width: 10vw;
}

.texts {
  align-items: center;
  margin-top: 5vh;
  margin-left: 3vw;
  width: fit-content;
  height: fit-content;
  display: flex;
}
.texts h1 {
  font-size: 5vw;
  font-family: "Quicksand", sans-serif;
  cursor: default;
}
.aboutMe {
  display: flex;
  width: max-content;
  height: fit-content;
  margin-left: 60vw;
  margin-right: 1vw;
  color: white;
  cursor: default;
}
.me {
  display: flex;
  height: fit-content;
  width: max-content;
  color: #a54ff0;
  cursor: default;
}
