.mainDiv{
    display: flex;
    position: absolute;
    left: 15vw;
    margin-top: 25vh;
}
.abtMePhoto{
    margin-left: 0;
    width: 25vw;
    border: .4vw solid #460085;
    border-radius: 1vw;
}