@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.participationsMainDiv {
  padding: 2vw;
  margin-top: 2vh;
  margin-left: 2vw;
}
.participationsTitle1 {
  text-align: left;
  color: white;
  cursor: default;
  font-size: 1.5vw;
  font-family: "Quicksand", sans-serif;
}
