.mainDivCodeCar {
  position: absolute;
  left: 9vw;
  width: 90.55vw;
  height: 200vh;
  background-color: #252424;
  display: flex;
}

.navLinkTitle1{
  position: absolute;
  margin-top: 2vh;
    margin-left: 32vw;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    transition: .3s;

}
.navLinkTitle1:hover{
    transform: scale(1.1);
    transition: .3s;
}

.navLinkTitle1:active{
    transform: scale(0.9);
    transition: .3s;
}

.title1 {
  font-size: 5vw;
  color: white;
}
.span1 {
  color: #a54ff0;
}
.redirectImg {
  width: 5vw;
}

.title2{ 
  margin-top: 5vh;
  margin-left: 3vw;
  color: #A54FF0;
}
.technologiesContainer{
  margin-left: 2.5vw;
  margin-top: 20vh;
  background-color: #58555560;
  width: 27vw;
  height: 75vh;
  border-radius: 2vw;
}
.functionalitiesContainer{
  margin-left: 2.5vw;
  margin-top: 20vh;
  background-color: #58555560;
  width: 27vw;
  height: 75vh;
  border-radius: 2vw;
}
.participationsContainer{
  margin-left: 2.5vw;
  margin-top: 20vh;
  background-color: #58555560;
  width: 27vw;
  height: 75vh;
  border-radius: 2vw;
}
.title3{ 
  margin-top: 5vh;
  margin-left: 6vw;
  color: #A54FF0;
}
.title4{ 
  margin-top: 5vh;
  margin-left: 4vw;
  color: #A54FF0;
}
