.mainDivCodeCar {
  position: absolute;
  left: 9vw;
  width: 90.55vw;
  height: 200vh;
  background-color: #252424;
  display: flex;
}

.navLinkTitle1 {
  position: absolute;
  margin-top: 4vh;
  margin-left: 34vw;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  transition: 0.3s;
}
.navLinkTitle1:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.navLinkTitle1:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.title1 {
  font-size: 5vw;
  color: white;
}
.span1 {
  color: #a54ff0;
}
.redirectImg {
  width: 5vw;
}

.title2 {
  margin-top: 5vh;
  margin-left: 2.5vw;
  color: #a54ff0;
  font-size: 2.3vw;
}
.technologiesContainer {
  margin-left: 2.5vw;
  margin-top: 25vh;
  background-color: #58555560;
  width: 27vw;
  height: 70vh;
  border-radius: 2vw;
}
.functionalitiesContainer {
  margin-left: 2.5vw;
  margin-top: 25vh;
  background-color: #58555560;
  width: 27vw;
  height: 70vh;
  border-radius: 2vw;
}
.participationsContainer {
  margin-left: 2.5vw;
  margin-top: 25vh;
  background-color: #58555560;
  width: 27vw;
  height: 70vh;
  border-radius: 2vw;
}
.title3 {
  margin-top: 5vh;
  margin-left: 5vw;
  color: #a54ff0;
  font-size: 2.5vw;
}
.title4 {
  margin-top: 5vh;
  margin-left: 3vw;
  color: #a54ff0;
  font-size: 2.5vw;
}
