@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.mainDiv{
    position: absolute;
    text-align:justify;
    left: 43vw;
    top: 35vh;
    margin-right: 5vw;
}
.abtText{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6vw;
    color: white;
    cursor: default;
}

@media screen and (max-width: 700px) {
    .mainDiv{
        position: absolute;
        text-align: center  ;
        left: 10vw;
        top: 70vh;
        margin-right: 5vw;
    }
    .abtText{
        font-family: 'Quicksand', sans-serif;
        font-size: 2vh;
        color: white;
        cursor: default;
    }
}
  