@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.projectsMainDiv {
  position: absolute;
  top: 25vh;
  left: 9vw;
  width: 90.55vw;
  /* height: 123vh; */
}
.projectsDiv {
  padding: 1.5vw;
  border-radius: 0.3vw;
  width: fit-content;
  background: radial-gradient(
    circle,
    rgba(71, 71, 71, 1) 0%,
    rgba(37, 36, 36, 1) 100%
  );
  /* margin-top: 25vh; */
  margin-left: 7vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 35vw);
  gap: 5vh;
  justify-items: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.projectsDiv:hover {
  transition: 0.3s;
  transform: scale(1.01);
  background: radial-gradient(
    circle,
    rgba(80, 80, 80, 1) 0%,
    rgba(37, 36, 36, 1) 100%
  );
}

.titles {
  font-family: "Quicksand", sans-serif;
  font-size: 3.5vw;
  -webkit-text-stroke: 1px #ac5ff0;
  color: #a54ff0;
}
.projectCarCode {
  border: 0.3vw solid black;
  border-radius: 1vw;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005202880208956/carCodePage.png?ex=659c9663&is=658a2163&hm=a48d78dc3b5c99e73b7f4cd13d8dc9c3753ff690ad1fbdf9e5df1b7deaa67034&");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 42vh;
  transition: 0.3s;
}
.projectCarCode:hover {
  transform: scale(0.95);
  transition: 0.3s;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005203232522321/carCodePageDark.png?ex=659c9663&is=658a2163&hm=b92f2191e850af6dd4d32ce31fae827afb3db65fdd77eb1e568215906f9d6fb1&");
}
.projectPortfolio {
  border: 0.3vw solid black;
  border-radius: 1vw;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005204100743169/portfolio.png?ex=659c9663&is=658a2163&hm=5feea2f9f374d543e4c9efc7c0925aa4a8dcf87caf7ac4074a167825decda85f&");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 42vh;
  transition: 0.3s;
}
.projectPortfolio:hover {
  transform: scale(0.95);
  transition: 0.3s;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005204444688494/portfolioBlack.png?ex=659c9663&is=658a2163&hm=0736e6ebc8d3e5883295b9968a18ca94b2422c920ae5c341c8cc961e9f79c2e8&");
}
.projectPokedex {
  border: 0.3vw solid black;
  border-radius: 1vw;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005203509358684/pokedex.png?ex=659c9663&is=658a2163&hm=906429ed16767e394cf086920b8f838c8e5cd1ff8ba1a53864eef0bfff711ab6&");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 42vh;
  transition: 0.3s;
}
.projectPokedex:hover {
  transform: scale(0.95);
  transition: 0.3s;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005203765207050/pokedexBlack.png?ex=659c9663&is=658a2163&hm=ec034d4fcd7ee9dac501a4b219d942120427e5c7b680d3a930e22075ee39ec72&");
}
.projectRyM {
  border: 0.3vw solid black;
  border-radius: 1vw;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005205015109712/rym.png?ex=659c9663&is=658a2163&hm=87520973aaaa53c48527e8e97affbaf4d58d4314572b139736d404469e19a8cf&");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 42vh;
  transition: 0.3s;
}
.projectRyM:hover {
  transform: scale(0.95);
  transition: 0.3s;
  background-image: url("https://cdn.discordapp.com/attachments/1080681344264314920/1189005202389479544/rymBlack.png?ex=659c9662&is=658a2162&hm=1cacc4e9b7d1e642095a563bb9f13a09942716365a46e1f1faa3501b80ddccc8&");
}
.links {
  text-decoration: none;
}
