@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.mainDivPortfolio {
  position: sticky;
  left: 9vw;
  width: 91vw;
  height: 123vh;
  background-color: #252424;
  background-size: cover;
  background-position: center;
  display: flex;
}

.title1 {
  margin-top: 5vh;
  font-size: 5vw;
  font-family: "Quicksand", sans-serif;
  cursor: default;
  display: flex;
  width: max-content;
  height: fit-content;
  margin-left: 54vw;
  color: white;
  cursor: default;
}
.span1 {
  margin-left: 1.5vw;
  color: #a54ff0;
}
