.profileImage1 {
  position: absolute;
  margin-top: 23vh;
  margin-left: 13vw;
  width: 27vw;
  height: 60vh;
  border-radius: 100%;
  box-shadow: 1vw 0 #a54ff0, 2vw 0 #593678, 3vw 0 #392b44;
}
@media screen and (max-width: 700px) {
  .profileImage1 {
    position: absolute;
    margin-top: 70vh;
    margin-left: 20vw;
    width: 35vh;
    height: auto;
    border-radius: 100%;
    box-shadow: 1vw 0 #a54ff0, 2vw 0 #593678, 3vw 0 #392b44;
  }
}
